.haiku-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 0px solid #ccc;
    border-radius: 8px;
    background-color: transparent;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.0);
}





.input-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
.secret-input::placeholder, 
.haiku-input::placeholder {
    color: #657b9b; /* Bluish-gray */
    opacity: 1; /* Ensures the color is fully visible */
    font-family: 'Arial', sans-serif;
}
.secret-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}
.haiku-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}
.haiku-input {
    height: 100px;
}






.button-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.calculate-button,
.reset-button {
    padding: 6px 12px; /* Reduced height by decreasing padding */
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Darker shadow */
}
.calculate-button {
    background-color: #5a9bd8; /* Darker grayish-blue */
    color: white;
}
.calculate-button:disabled,
.reset-button:disabled {
    background-color: #b0b0b0; /* Darker gray for disabled state */
    cursor: not-allowed;
}
.calculate-button:hover:enabled {
    background-color: #3f7eb3; /* Darker shade for hover state */
}
.reset-button {
    background-color: #cc4c4c; /* Darker red */
    color: white;
}
.reset-button:hover:enabled {
    background-color: #b30000; /* Darker shade for hover state */
}
.loading-icon {
    width: 24px;
    height: 24px;
}




.loading-message {
    display: flex;
    align-items: center;
    gap: 10px;
}



.field-title {
    color: white;
}



.result-display {
    /* Optional: Set a base font size and color for better visibility */
    font-size: 18px; /* Adjust as needed */
    color: #333; /* Text color */
    color: #ffffff; /* Text color */
    text-shadow: 0 0px 5px rgba(255, 255, 255, 1); /* shadow */
    text-shadow: 0 0px 5px rgb(0, 0, 0, 0.2); /* shadow */
}