/* styles/Navbar.css */
.nav {
  display: flex;
  justify-content: space-between; /* Space between site title and links */
  align-items: center; /* Align items vertically in the center */
  padding: 1em; /* Add some padding */
  background-color: transparent;
}

.nav ul {
  display: flex; /* Use flexbox for the list */
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

.nav ul li {
  margin-left: 20px; /* Space between links */
}

.site-title {
  color: white; /* Ensure title is visible */
  height: 100%; /* Take up all available vertical space */
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center text vertically */
  font-weight: bold; /* Keep text bold */
  transform: translateY(-2px); /* Lift text up*/
}

.nav a {
  text-decoration: none;
  color: white; /* Ensure the links are visible */
  font-weight: 500;
  display: flex; /* Flexbox for vertical centering */
  align-items: center; /* Center text vertically within link */
}

.nav a:hover {
  color: #ddd; /* Change color on hover for better UX */
}

.active a {
  border-bottom: 2px solid white; /* Highlight active link */
}

#user-picture {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  margin-right: 8px;
}
