
#LogOutDiv {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    padding-top: 20px;
    opacity: 85%;
}

#LogInDiv {
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.0);
}


#LogOutButton {
    /* background-color: white;
    color: #3a506b; 
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    padding: 6px 12px; 
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #cc4c4c; 
    color: white;
}

#LogOutButton:hover {
    background-color: #b30000; 
    /* background-color: #f5f9fc;
    border: 1px solid #e6f4ff; */
}
